@import '../global/variables';
@import '../mixins/mixins';

.sidebar {
  width: 230px;
  min-width: 230px;
  background-color: $colorBlockBlue;
  position: relative;
  margin-top: -2rem;
  &__container {
    @include flex-column;
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 8rem;
    padding: 0 1rem;
    width: 230px;
  }
  &__item {
    margin-bottom: 1rem;
  }
}
