@import '../global/variables';
@import '../mixins/mixins';

.header {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0px 1px 10px $colorBlue;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: $colorBlack;
  &__container {
    @include flex-horizontal-between;
    max-width: 1366px;
    width: 100%;
  }
  &__logo {
    color: $colorYellow;
  }
  &__item {
    margin-left: 1rem;
  }
}
